doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="catagory.html")
                        i.ti.ti-arrow-left

                // Page Title
                .page-heading
                    h6.mb-0 Clothing

                // Filter Option
                .filter-option.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaFilterOffcanvas", aria-controls="suhaFilterOffcanvas")
                    i.ti.ti-adjustments-horizontal

        include inc/filter.pug

        .page-content-wrapper
            // Catagory Banner
            .pt-3
                .container
                    .catagory-single-img(style="background-image: url('img/bg-img/5.jpg')")

            // Catagory Products 
            .top-products-area.py-3
                .container
                    .section-heading.rtl-text-right
                        h6 Sub Catagory Products

                    .row.g-2.rtl-flex-d-row-r
                        mixin productCard(badge, badgeClass, imgSrc, title, price, originalPrice, countdownDate)
                            .col-6.col-md-4
                                .card.product-card
                                    .card-body
                                        // Badge
                                        span.badge.rounded-pill(class=badgeClass) #{badge}
                                        // Wishlist Button
                                        a.wishlist-btn(href="#")
                                            i.ti.ti-heart
                                        // Thumbnail
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img.mb-2(src=imgSrc, alt="")
                                            // Offer Countdown Timer
                                            if countdownDate
                                                ul.offer-countdown-timer.d-flex.align-items-center.shadow-sm(data-countdown=countdownDate)
                                                    li
                                                        span.days 0
                                                        | d
                                                    li
                                                        span.hours 0
                                                        | h
                                                    li
                                                        span.minutes 0
                                                        | m
                                                    li
                                                        span.seconds 0
                                                        | s
                                        // Product Title
                                        a.product-title(href="single-product.html") #{title}
                                        // Product Price
                                        p.sale-price $#{price}
                                            span $#{originalPrice}
                                        // Rating
                                        .product-rating
                                            i.ti.ti-star-filled
                                            i.ti.ti-star-filled
                                            i.ti.ti-star-filled
                                            i.ti.ti-star-filled
                                            i.ti.ti-star-filled
                                        // Add to Cart
                                        a.btn.btn-primary.btn-sm(href="#")
                                            i.ti.ti-plus

                        +productCard('Sale', 'badge-warning', 'img/product/11.png', 'Beach Cap', '13', '42', '2025/12/31 23:59:59')
                        +productCard('New', 'badge-success', 'img/product/5.png', 'Wooden Sofa', '74', '99', null)
                        +productCard('Sale', 'badge-success', 'img/product/6.png', 'Roof Lamp', '99', '113', null)
                        +productCard('-18%', 'badge-danger', 'img/product/9.png', 'Sneaker Shoes', '87', '92', '2025/12/23 00:21:29')
                        +productCard('-11%', 'badge-danger', 'img/product/8.png', 'Wooden Chair', '21', '25', null)
                        +productCard('On Sale', 'badge-warning', 'img/product/4.png', 'Polo Shirts', '38', '41', null)

        include inc/footer-nav.pug

        include inc/footer.pug