doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="shop-grid.html")
                        i.ti.ti-arrow-left

                // Page Title
                .page-heading
                    h6.mb-0 Vendor Shop

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        .page-content-wrapper.pb-3
            // Vendor Details Wrap 
            .vendor-details-wrap.bg-img.bg-overlay.py-4(style="background-image: url('img/bg-img/15.jpg')")
                .container
                    .d-flex.align-items-start
                        // Vendor Profile
                        .vendor-profile.shadow.me-3
                            figure.m-0
                                img(src="img/core-img/logo-small.png", alt="")

                        // Vendor Info
                        .vendor-info
                            h6.mb-1.vendor-title.text-white Suha
                            p.mb-1.text-white
                                i.ti.ti-map-pin.me-1
                                | Dhaka, Bangladesh
                            .ratings.lh-1
                                i.ti.ti-star-filled
                                i.ti.ti-star-filled
                                i.ti.ti-star-filled
                                i.ti.ti-star-filled
                                i.ti.ti-star-filled
                                span.text-white (99% Positive Seller)
                    
                    // Vendor Basic Info
                    .vendor-basic-info.d-flex.align-items-center.justify-content-between.mt-4
                        .single-basic-info
                            .icon
                                i.ti.ti-shield-lock
                            span Trusted Seller

                        .single-basic-info
                            .icon
                                i.ti.ti-basket
                            span 100+ Items

                        .single-basic-info
                            .icon
                                i.ti.ti-ship
                            span 98% Ship On Time

            // Vendor Tabs 
            .vendor-tabs
                .container
                    ul.nav.nav-tabs.mb-3#vendorTab(role="tablist")
                        li.nav-item(role="presentation")
                            button.nav-link#home-tab(data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true") About

                        li.nav-item(role="presentation")
                            button.nav-link.active#products-tab(data-bs-toggle="tab" data-bs-target="#products" type="button" role="tab" aria-controls="products" aria-selected="false") Products

                        li.nav-item(role="presentation")
                            button.nav-link#reviews-tab(data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false") Reviews

            .tab-content#vendorTabContent
                .tab-pane.fade#home(role="tabpanel" aria-labelledby="home-tab")
                    .container
                        .card
                            .card-body.about-content-wrap.dir-rtl
                                h6 Welcome to our shop gallery.
                                p A versatile e-commerce shop template. It is very nicely designed with modern features &amp; coded with the latest technology.

                                ul.mb-3.ps-3
                                    li
                                        i.ti.ti-circle-check.me-1
                                        | Trusted Seller
                                    li
                                        i.ti.ti-circle-check.me-1
                                        | 100+ Items
                                    li
                                        i.ti.ti-circle-check.me-1
                                        | 98% Ship On Time

                                p It nicely views on all devices with smartphones, tablets, laptops &amp; desktops.

                                img.mb-3.rounded(src="img/bg-img/16.jpg", alt="")

                                p A versatile e-commerce shop template. It is very nicely designed with modern features &amp; coded with the latest technology.
                                p It nicely views on all devices with smartphones, tablets, laptops &amp; desktops.

                                h6 Need Help?
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sint reiciendis minima iusto ex beatae.

                                .contact-btn-wrap.text-center
                                    p.mb-2 For more information, submit a request.
                                    a.btn.btn-primary.w-100(href="contact.html")
                                        i.ti.ti-lifebuoy.me-1.h6
                                        | Submit A Query

                .tab-pane.fade.show.active#products(role="tabpanel" aria-labelledby="products-tab")
                    .container
                        .row.g-2.rtl-flex-d-row-r
                            mixin productCard(badgeClass, badgeText, productImg, productTitle, productLink, salePrice, originalPrice, countdown = null)
                                .col-6.col-md-4
                                    .card.product-card
                                        .card-body
                                            // Badge
                                            if badgeText
                                                span.badge.rounded-pill(class=badgeClass) #{badgeText}
                                            // Wishlist Button
                                            a.wishlist-btn(href="#")
                                                i.ti.ti-heart                        
                                            // Thumbnail
                                            a.product-thumbnail.d-block(href=productLink)
                                                img.mb-2(src=productImg, alt="")
                                                if countdown
                                                    // Offer Countdown Timer
                                                    ul.offer-countdown-timer.d-flex.align-items-center.shadow-sm(data-countdown=countdown)
                                                        li
                                                            span.days 0
                                                            | d
                                                        li
                                                            span.hours 0
                                                            | h
                                                        li
                                                            span.minutes 0
                                                            | m
                                                        li
                                                            span.seconds 0
                                                            | s
                                            // Product Title
                                            a.product-title(href=productLink) #{productTitle}
                                            // Product Price
                                            p.sale-price $#{salePrice}
                                                if originalPrice
                                                    span $#{originalPrice}
                                            // Rating
                                            .product-rating
                                                i.ti.ti-star-filled
                                                i.ti.ti-star-filled
                                                i.ti.ti-star-filled
                                                i.ti.ti-star-filled
                                                i.ti.ti-star-filled
                                            // Add to Cart
                                            a.btn.btn-primary.btn-sm(href="#")
                                                i.ti.ti-plus

                            +productCard("badge-warning", "Sale", "img/product/11.png", "Beach Cap", "single-product.html", 13, 42, "2025/12/31 23:59:59")
                            +productCard("badge-success", "New", "img/product/5.png", "Wooden Sofa", "single-product.html", 74, 99)
                            +productCard("badge-success", "Sale", "img/product/6.png", "Roof Lamp", "single-product.html", 99, 113)
                            +productCard("badge-danger", "-18%", "img/product/9.png", "Sneaker Shoes", "single-product.html", 87, 92, "2025/12/23 00:21:29")
                            +productCard("badge-danger", "-11%", "img/product/8.png", "Wooden Chair", "single-product.html", 21, 25)
                            +productCard("badge-warning", "On Sale", "img/product/4.png", "Polo Shirts", "single-product.html", 38, 41)

                .tab-pane.fade#reviews(role="tabpanel" aria-labelledby="reviews-tab")
                    // Rating & Review Wrapper
                    .rating-and-review-wrapper.bg-white.py-3.mb-3.dir-rtl
                        .container
                            .rating-review-content
                                mixin singleUserReview(userImg, ratingStars, comment, nameDate, reviewImages = [])
                                    li.single-user-review.d-flex
                                        .user-thumbnail
                                            img(src=userImg, alt="")
                                        .rating-comment
                                            .rating
                                                each _ in ratingStars
                                                    i.ti.ti-star-filled
                                            p.comment.mb-0 #{comment}
                                            span.name-date #{nameDate}
                                            if reviewImages.length
                                                each image in reviewImages
                                                    a.review-image.mt-2.border.rounded(href=image)
                                                        img.rounded-3(src=image, alt="")

                                ul.ps-0
                                    +singleUserReview("img/bg-img/7.jpg", [1, 1, 1, 1, 1], "Very good product. It's just amazing!", "Designing World - 12 Dec 2025", ["img/product/3.png"])
                                    +singleUserReview("img/bg-img/8.jpg", [1, 1, 1, 1, 1], "Very excellent product. Love it.", "Designing World 8 - Dec 2025", ["img/product/4.png", "img/product/6.png"])
                                    +singleUserReview("img/bg-img/9.jpg", [1, 1, 1, 1, 1], "What a nice product it is. I am looking it's.", "Designing World  - 28 Nov 2025")

                    // Ratings Submit Form
                    .ratings-submit-form.bg-white.py-3.dir-rtl
                        .container
                            h6 Submit A Review
                            form(action="#" method="")
                                .stars.mb-3
                                    input(type="radio" name="star" class="star-1" id="star1")
                                    label.star-1(for="star1")
                                    input(type="radio" name="star" class="star-2" id="star2")
                                    label.star-2(for="star2")
                                    input(type="radio" name="star" class="star-3" id="star3")
                                    label.star-3(for="star3")
                                    input(type="radio" name="star" class="star-4" id="star4")
                                    label.star-4(for="star4")
                                    input(type="radio" name="star" class="star-5" id="star5")
                                    label.star-5(for="star5")
                                    span
                                textarea.form-control.mb-3#comments(name="comment", cols="30", rows="10", data-max-length="200", placeholder="Write your review...")
                                button.btn.btn-primary(type="submit") Save Review

        include inc/footer-nav.pug

        include inc/footer.pug