doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="home.html")
                        i.ti.ti-arrow-left

                // Page Title
                .page-heading
                    h6.mb-0 Wishlist

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        .page-content-wrapper
            .py-3
                .container
                    .section-heading.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                        h6 Wishlist Items

                        // Layout Options 
                        .layout-options
                            a.active(href="wishlist-grid.html")
                                i.ti.ti-border-all

                            a(href="wishlist-list.html")
                                i.ti.ti-list-check

                    .row.g-2.rtl-flex-d-row-r
                        mixin productCard(imgSrc, badgeText, badgeClass, productTitle, productLink, salePrice, originalPrice, rating, countdown)
                            .col-6.col-md-4
                                .card.product-card
                                    .card-body
                                        // Badge
                                        if badgeText
                                            span.badge.rounded-pill(class=badgeClass) #{badgeText}
                                        // Delete Button
                                        a.delete-btn(href="#")
                                            i.ti.ti-trash
                                        // Thumbnail
                                        a.product-thumbnail.d-block(href=productLink)
                                            img.mb-2(src=imgSrc, alt="")
                                            // Offer Countdown Timer
                                            if countdown
                                                ul.offer-countdown-timer.d-flex.align-items-center.shadow-sm(data-countdown=countdown)
                                                    li
                                                        span.days 0
                                                        | d
                                                    li
                                                        span.hours 0
                                                        | h
                                                    li
                                                        span.minutes 0
                                                        | m
                                                    li
                                                        span.seconds 0
                                                        | s
                                        // Product Title
                                        a.product-title(href=productLink) #{productTitle}
                                        // Product Price
                                        p.sale-price #{salePrice}
                                            if originalPrice
                                                span #{originalPrice}
                                        // Rating
                                        if rating
                                            .product-rating
                                                each star in [...Array(rating).keys()]
                                                    i.ti.ti-star-filled
                                        // Add to Cart
                                        a.btn.btn-primary.btn-sm(href="#")
                                            i.ti.ti-plus

                        +productCard("img/product/11.png", "Sale", "badge-warning", "Beach Cap", "single-product.html", "$13", "$42", 5, "2025/12/31 23:59:59")
                        +productCard("img/product/5.png", "New", "badge-success", "Wooden Sofa", "single-product.html", "$74", "$99", 5)
                        +productCard("img/product/6.png", "Sale", "badge-success", "Roof Lamp", "single-product.html", "$99", "$113", 5)
                        +productCard("img/product/9.png", "-18%", "badge-danger", "Sneaker Shoes", "single-product.html", "$87", "$92", 4, "2025/12/23 00:21:29")
                        +productCard("img/product/8.png", "-11%", "badge-danger", "Wooden Chair", "single-product.html", "$21", "$28", 5)
                        +productCard("img/product/4.png", "On Sale", "badge-warning", "Polo Shirts", "single-product.html", "$38", "$42", 5)

                        // Select All Products
                        .col-12
                            .select-all-products-btn.mt-2
                                a.btn.btn-primary.btn-lg.w-100(href="#")
                                    i.ti.ti-circle-check.me-1.h6
                                    | Add all items to cart

        include inc/footer-nav.pug

        include inc/footer.pug