doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="home.html")
                        i.ti.ti-arrow-left

                // Page Title
                .page-heading
                    h6.mb-0 Wishlist

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        .page-content-wrapper
            .py-3
                .container
                    .section-heading.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                        h6 Wishlist Items

                        // Layout Options
                        .layout-options
                            a(href="wishlist-grid.html")
                                i.ti.ti-border-all

                            a.active(href="wishlist-list.html")
                                i.ti.ti-list-check

                    .row.g-2
                        mixin horizontalProductCard(imgSrc, productTitle, productLink, salePrice, originalPrice, rating, reviews)
                            .col-12
                                .card.horizontal-product-card
                                    .d-flex.align-items-center
                                        .product-thumbnail-side
                                            // Thumbnail 
                                            a.product-thumbnail.d-block(href=productLink)
                                                img(src=imgSrc, alt="")
                                            // Delete  
                                            a.delete-btn(href="#")
                                                i.ti.ti-trash
                                        .product-description
                                            // Product Title 
                                            a.product-title.d-block(href=productLink) #{productTitle}
                                            // Price 
                                            p.sale-price
                                                i.ti.ti-currency-dollar
                                                | #{salePrice}
                                                span #{originalPrice}
                                            // Rating 
                                            .product-rating
                                                i.ti.ti-star-filled
                                                | #{rating} 
                                                span.ms-1 (#{reviews} reviews)

                        +horizontalProductCard("img/product/18.png", "Nescafe Coffee Jar", "single-product.html", "$64", "$89", "4.88", "39")
                        +horizontalProductCard("img/product/7.png", "Modern Office Chair", "single-product.html", "$99", "$159", "4.82", "125")
                        +horizontalProductCard("img/product/12.png", "Beach Sunglasses", "single-product.html", "$24", "$32", "4.79", "63")
                        +horizontalProductCard("img/product/17.png", "Meow Mix Cat Food", "single-product.html", "$11.49", "$13", "4.78", "7")

                        // Select All Products
                        .col-12
                            .select-all-products-btn.mt-2
                                a.btn.btn-primary.btn-lg.w-100(href="#")
                                    i.ti.ti-circle-check.me-1.h6
                                    | Add all items to cart

        include inc/footer-nav.pug

        include inc/footer.pug